@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin my-background-image($imgpath, $color-light, $color-dark) {
  background: {
    image: linear-gradient(
        to right bottom,
        rgba($color-light, 0.801),
        rgba($color-dark, 0.801)
      ),
      url($imgpath);
    size: cover;
    position: top;
  }
}


@mixin linear-gradient-text-background($color-light, $color-dark){
  display: inline-block;
  background-image: linear-gradient(to right, $color-light, $color-dark);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}


@mixin absoluteCenter{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//TODO: add absoluteCenter to other parts of code