.u-center-text{
    text-align: center !important;
}

.u-left-justify-text{
    text-align: justify !important;
    text-justify: left !important;
}

.u-margin-bottom-big{
    margin-bottom: 8rem !important;
}

.u-margin-bottom-medium{
    margin-bottom: 4rem !important;
}

.u-margin-bottom-small{
    margin-bottom: 2rem !important;
}

.u-margin-top-huge{
    margin-top: 10rem !important;
}

.u-margin-top-big{
    margin-top: 8rem !important;
}


.u-no-margin-left{
    margin-left:0 !important; 
}